@using AccentureAccademySchultenAlejandro.Models
@model Autor


<!DOCTYPE html>
<html>
<body>
    <main>
        <form method="post">
            <h2>@this.ViewBag.TituloPagina</h2>
            Nombre Del Autor:
            <input type="text" name="Nombre" value="@this.Model.Nombre" required />
            <input type="hidden" name="Id_Autor" value="@this.Model.Id_Autor" />

            <button>Enviar Datos</button>
        </form>
    </main>
</body>
</html>