@using AccentureAccademySchultenAlejandro.Models
@model List<Autor>


<!DOCTYPE html>

<html>
<body>
    <main>
        <div>

            <h2>Autores:</h2>
            <span style="z-index:0">@Html.ActionLink("Nuevo", "Crear", "Autor", null, new { @class = "glyphicon glyphicon-plus" })</span>
            <table>

                @foreach (Autor autor in this.Model)
                {
                    <tr>
                        <td><h3>@autor.Nombre</h3></td>
                        <td class="text-center">
                            <div class="text-right">
                                @Html.ActionLink(" ", $"Editar", new { Id = autor.Id_Autor }, new
                           {
                               @class = "glyphicon glyphicon-edit",
                               style = "font-size: 1.Sem"
                           })


                                @Html.ActionLink(" ", "Eliminar", new { Id = autor.Id_Autor }, new
                           {
                               @class = "glyphicon glyphicon-trash",
                               style = "font-size: 1.Sem"
                           })
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>