@using AccentureAccademySchultenAlejandro.Models
@model List<Autor>


<!DOCTYPE html>

<html>
    <main>
        <div>
            <th><h2>Autores:</h2></th>
            <table>

                @foreach (Autor autor in this.Model)
                {
                    <tr>
                        <td><h3>@autor.Nombre</h3></td>
                        <td class="text-center">
                            <div class="text-right">
                                @Html.ActionLink(" ", $"Editar", new { Id = autor.Id_Autor }, new
                           {
                               @class = "glyphicon glyphicon-edit",
                               style = "font-size: 1.Sem"
                           })


                                @Html.ActionLink(" ", "Eliminar", new { Id = autor.Id_Autor }, new
                           {
                               @class = "glyphicon glyphicon-trash",
                               style = "font-size: 1.Sem"
                           })
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>