@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/indexScript.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link rel="stylesheet" type="MIME" href="searchbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
    <nav id="navMenu">
        <a href="perfil.html" class="link" data-archivo="perfil">perfil</a>
        <a href="portfolio.html" class="link" data-archivo="portfolio">portfolio</a>
        <a href="contacto.html" class="link" data-archivo="contacto">contacto</a>
    </nav>
    <header>
        <button id="btnMenu" ><span class="glyphicon glyphicon-menu-hamburger "></span></button>
        <h1>Biblioteca</h1>
        <form action="">
            <input type="search">
            <i class="fa fa-search"></i>
        </form>

    </header>
    <main>
    
    </main>
    <footer style="bottom:0%">
        <p>&copy; Copyright - 2019</p>
    </footer>
</body>
</html>