@using AccentureAccademySchultenAlejandro.Models
@model Editorial



<!DOCTYPE html>

<html>

<body>  
    <h2>@this.ViewBag.TituloPagina</h2>
    <form method="post">
       Editorial:
        <input type="text" name="Editorial1" value="@this.Model.Editorial1" />
        <input type="hidden" name="Id_Editorial" value="@this.Model.Id_Editorial" />

        <button>Enviar Datos</button>
    </form>
</body>
</html>