@using AccentureAccademySchultenAlejandro.Models
@model List<Editorial>


<!DOCTYPE html>
<html>
<body>
    <main>
        <div>
            <th><h2>Editoriales:</h2></th>
            <table>

                @foreach (Editorial editorial in this.Model)
                {
                    <tr>
                        <td>@editorial.Editorial1</td>
                        <td class="text-center">
                            <div class="text-right">
                                @Html.ActionLink(" ", $"Editar", new { Id = editorial.Id_Editorial}, new
                           {
                               @class = "glyphicon glyphicon-edit",
                               style = "font-size: 1.Sem"
                           })


                                @Html.ActionLink(" ", "Eliminar", new { Id = editorial.Id_Editorial }, new
                           {
                               @class = "glyphicon glyphicon-trash",
                               style = "font-size: 1.Sem"
                           })
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </main>
</body>
</html>