@using AccentureAccademySchultenAlejandro.Models
@{    
 Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <h1>Crear un Genero</h1>
    <form method="post">
        Nombre Del Genero:
        <input type="text" name="Genero1" value="" />

        <button>Enviar Datos</button>
    </form>
</body>
</html>

