@using AccentureAccademySchultenAlejandro.Models
@model List<Genero>

<!DOCTYPE html>

<html>
<body>
    <div>
            <h2>Generos:</h2>
            <span style="z-index:0">@Html.ActionLink("Nuevo", "Crear", "Genero", null, new { @class = "glyphicon glyphicon-plus" })</span>
        <table>

            @foreach (Genero genero in this.Model)
            {
                <tr>
                    <td><h3>@genero.Genero1</h3></td>
                    <td class="text-center">
                        <div class="text-right">
                            @Html.ActionLink(" ", $"Editar", new { Id = genero.Id_Genero }, new
                       {
                           @class = "glyphicon glyphicon-edit",
                           style = "font-size: 1.Sem"
                       })


                            @Html.ActionLink(" ", "Eliminar", new { Id = genero.Id_Genero }, new
                       {
                           @class = "glyphicon glyphicon-trash",
                           style = "font-size: 1.Sem"
                       })
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    
</body>
</html>
