@using AccentureAccademySchultenAlejandro.Models
@model List<Librito>
@{
    ViewBag.Title = "Home Page";
}
    

<body>
   
    <div class="contenedor">
        <div class="contenedor-cards">
            @if (this.Model != null)
            {
                for (int i =0; i<6 && i<this.Model.Count;i++)
                {
                    <div class="contenedor-card-item">
                        <div class="contenedor-card-item-wrapper">
                            <img src="../Images/@this.Model[i].Imagen" alt="" onclick="location.href='@Url.Action("MostrarUno", "Libro",new { Id = this.Model[i].Id_Libro })'">
                            <div class="contenedor-info">
                                <div class="info">
                                    <p class="titulo">@this.Model[i].Titulo</p>

                                    @foreach (Autor a in this.Model[i].Autores)
                                    {
                                        <span class="autores">@a.Nombre</span>

                                    }
                                </div>
                                <div class="fondo"></div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</body>

</html> 